@inject IJSRuntime JS
@inject NavigationManager Navigation

<PageTitle>MyApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <button class="btn btn-danger float-end m-2" @onclick="Logout">Kijelentkezés</button>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "authToken");
        Navigation.NavigateTo("/login");
    }
}